<div class="search-container">
    <div class="search-bar">
        <mat-form-field style='text-align: center;'>
            <input matInput type="text" placeholder="search" name='search' id="search" [(ngModel)]="value"
                [(ngModel)]="searchText">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="btns">
        <button (click)='onSearchRecipes(searchText)' [disabled]='addingFilters' mat-flat-button>Search</button>
        <button (click)='addFilters()' mat-flat-button>Filter</button>
    </div>
</div>

<div *ngIf="addingFilters">
    <div class="calory-range">
        <mat-form-field>
            <input matInput type="number" name="cal-min" placeholder="Min" [(ngModel)]="min">
        </mat-form-field>
        -
        <mat-form-field>
            <input matInput type='number' name="cal-max" placeholder="Max" [(ngModel)]="max">
        </mat-form-field>
    </div>
    <div class="diet-restrictions">
        <div *ngFor="let diet of dietRestrictions">
            <label for="diet.name">{{ dietDisplay(diet.name) }}</label>
            <input [(ngModel)]="diet.checked" type="checkbox" name="diet.name" id="diet.name">
        </div>
    </div>
    <button (click)='updateFilters(min, max)' mat-flat-button>Add Filters</button>
    <mat-icon (click)="stopFilters()" id="closeFilter">close</mat-icon>
</div>
