.search-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btns > button {
    margin: 0 .5em;
}

.mat-flat-button:hover {
    background-color: #94AE89;
}

.mat-input {
    width: 50%;
}