<div class="search-container">
    <div class="search-bar">
        <mat-form-field style='text-align: center;'>
            <input matInput type="text" placeholder="Enter Search Here" name='search' id="search"
                [(ngModel)]="searchText" (keyup.enter)="onSearchRecipes(searchText)">
        </mat-form-field>
    </div>
    <div class="btns">
        <button (click)='onSearchRecipes(searchText)' color='primary' mat-flat-button>
            Search
        </button>
        <button (click)='openDialog()' color='primary' mat-flat-button>Filter</button>
    </div>
</div>

