<p id="title">Triple B Recipe's <br>
 <span id="underTitle">Your hub for recipes</span>
</p>

<nav>
  <a mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>home</mat-icon>
  </a>
  <a routerLink="/Home" routerLinkActive="active">Home</a> 
  <a mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>favorite</mat-icon>
  </a>
  <a routerLink="/Favorites" routerLinkActive="active">Favorites</a>
</nav>
<router-outlet></router-outlet>
