
.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 1rem;
    border-radius: 1rem;
    word-wrap: break-word; 
    width: 28vw;
    box-shadow: 0px 0px 20px;
}

h3 {
    white-space: initial;
    text-align: center;
}

.image-container {
    position: relative;
    max-width: 100%;
}

.image {
    margin: 1rem;
    max-width: 100%;
    cursor: pointer;
}

a:hover{
    background-color: #94AE89;
}

.mat-icon-button{
    transform: scale(1.25);
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
}

.mat-icon-button:hover {
    color: rgb(200, 0, 0);
}

.icon {
    transform: scale(1.25);
}

.recipe-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.see-recipe-btn {
    margin-bottom: 1rem;
}

.loading-text {
    margin-top: 2rem;
}
.error {
    color: red;
}

