
.container-container {
    width: 25vw;
    display: inline-flex;
    justify-content: space-around;
    border: 1px solid #000;
    border-radius: 1rem;
}

.container {
    display: flex;
    justify-content: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 1rem;
}

.image {
    margin: 1rem;
}

a {
    width: 50%;
    text-decoration: none;
    color: #D5FFD9;
    background-color: #94AE89;
    border-radius: 2em;
    text-align: center;
}