/* You can add global styles to this file, and also import other style files */



* {
    font-family: 'Prata', serif;
}

body {
    margin: 0;
    background-color: #D5FFD9;
}
html, body { 
    height: 100%; 
}
.search-bar > .mat-form-field  {
    width: 67vw;
    font-size: 1.25rem;
}
.mat-focused .mat-form-field-label {
    color: #555 !important;
}
.mat-form-field-ripple {
    background-color: #555 !important;
}

.custom-dialog-container .mat-dialog-container {
    background-color: #BEEDAA;
    font-family: 'Prata', serif;
}
.mat-typography {
    font-family: 'Prata', serif;
}
.custom-filter-dialog-container .mat-dialog-container {
    background-color: #D5FFD9;
}

@media screen and (min-width: 600px) {
    .search-bar > .mat-form-field  {
        width: 50vw;
        font-size: 1.5em;
        max-width: 400px;
    }
}
