/* You can add global styles to this file, and also import other style files */
body {
    background-color: #D5FFD9;
    font-family: 'Prata', serif;
}
html, body { height: 100%; }
body { margin: 0; }



.mat-focused .mat-form-field-label {
    color: #444 !important;
}
.mat-form-field-ripple {
    background-color: #444 !important;
}
